root, body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    color: #919191;
    font-size: 16px;
    max-width: 100%;
}

body {
    background: #0E1317;
    height: 100%;
    width: 100%;
    position: relative;
}

.nav-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 999;
    position: fixed;
    background: rgb(255, 255, 255, 0%);
    margin-top: 15px;
}

.nav-buttons-container {
    margin-right: 2.5rem;
}

.nav-buttons-wrapper{
    border-radius: 100px;
    background: transparent;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(6px);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
}

.nav-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    position: relative;
    justify-self: center;
    color: #919191;
    padding: 9px 14px;
    margin-right: 16px;
}

.nav-btn.active, .nav-btn:hover {
    color: #000;
    background: #F59906;
    border-radius: 100px;
    padding: 9px 14px;
}

.logo-icons-wrapper {
    position: absolute;
    display: flex;
    top: 20px;
    right: 168px;
    z-index: 9999;
}

.logo-container {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background: #000;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social-icon {
    margin-top: 6px;
    transition: transform 0.3s ease-in-out;
}

.logo-container:hover .social-icon {
    transform: scale(1.2);
}

.landing-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 100px 168px 0 168px;
}

.introduction-container {
    grid-column: 1;
    padding-right: 105px;
    display: flex;
    align-items: flex-end;
}

.radar-chart-container {
    grid-column: 2;
    height: 60vh;
}

.introduction-welcome {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 23px;
    display: block;
}

.my-name {
    border-bottom: 1px solid #F59906;
    padding-bottom: 5px;
}

.introduction-full-stack {
    margin-top: 5px;
    color: #FFF;
    font-size: 5rem;
    font-weight: 700;
    display: block;
}

.introduction-developer {
    line-height: 0.2;
    color: #FFF;
    font-size: 5rem;
    font-weight: 700;
    display: block;
}

.introduction-description {
    margin-top: 50px;
    display: block;
}

.contact-button {
    padding: 9px 14px;
    cursor: pointer;
    border-radius: 100px;
    color: #000;
    background: #F59906;
    max-width: fit-content;
    margin: 30px 0 0 26px;
}

.activity {
    height: 400px;
    padding: 0 168px
}

.aq-container {
    width: 100%;
    height: 50vh;
    padding-top: 100px;
}

.aq-control-panel {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aq-locality-controls {
    display: flex;
}

.aq-range-controls {
    display: flex;
}

.aq-range-control {
    display: flex;
}

.aq-select {
    margin-right: 15px;
}